/* .App-logo {
  height: 40vmin;
  pointer-events: none;
} */

.nav-ul {
  margin: 0px;
  padding: 5px;
  background-color: skyblue;
}

.nav-ul li {
  display: inline-block;
  padding: 10px;
}


.nav-ul li a {
  color: #fff;
  text-decoration: none;
  padding: 5px;
}

.nav-right {
  text-align: right;
}

.logo {
  margin-top: 3px;
  margin-left: 10px;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  float: left;
  /* responsible for making it above the texts */
}

.footer {
  position: fixed;
  /* Sticks the footer to the bottom of the viewport */
  bottom: 0;
  left: 0;
  right: 0;
  background-color: powderblue;
  width: 100%;
  text-align: center;
  height: 50px;
  /* Adjust the height as needed */
  line-height: 50px;
  /* Vertically centers text */
  margin: 0;
}

.register,
.product,
.UpdateProduct {
  margin-left: 30%;
}

.login {
  margin-left: 30%;
  margin-top: 100px;
}

.SignButton,
.LoginButton,
.ProductButton,
.UpdateButton {
  margin: 20px;
  width: 150px;
  padding: 10px;
  background-color: skyblue;
  border: 1px solid;
  cursor: pointer;
}



.inputBox {
  padding: 7px;
  display: block;
  border: 1px solid;
  width: 300px;
  margin: 20px;
}

.invalidInput {
  display: block;
  color: red;
  margin-top: -20px;
  margin-left: 20px;
}

.prodList {
  text-align: center;
  margin-top: 50px;
}

.prodList ul {
  margin: 0;
}

.prodList ul li {
  display: inline-block;
  width: 150px;
  border: 1px solid skyblue;
  padding: 5px;
}

.search-product-box {
  width: 40;
  margin: 20px;
  height: 30px;
  padding-left: 30px;
  border: solid;
  color: skyblue;
}


/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
} */